# Игнорировать файлы и папки, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать файлы с расширением .log и .tmp
*.log
*.tmp

# Игнорировать папки, которые часто создаются сборщиками проектов
node_modules/
dist/

# Игнорировать папку .idea, которая содержит настройки проекта для IntelliJ IDEA
.idea/
